* {
	box-sizing: border-box;
}

body {
	background-image: url('./images/\'8b6a720e.png\'');
}

.main-content {
	margin: 4rem 2.4rem;
}

.form-control label,
.form-control input,
.form-control textarea {
	width: 100%;
	display: block;
}

.form-control textarea {
	height: 10rem;
}

.form-control label,
.form-control input,
.form-control textarea {
	margin-bottom: 0.5rem;
}

.form-control {
	margin-bottom: 1rem;
}

.form-actions button,
.btn {
	background-color: #f25b45;
	font: inherit;
	border: 1px solid #f25b45;
	border-radius: 3px;
	padding: 0.25rem 1rem;
	margin-right: 1rem;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.26);
	color: black;
	cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
	background-color: rgb(175, 47, 0);
	border-color: orangered;
}

.links {
	display: flex;
	justify-content: space-around;
	background-color: #31343a;
}

.links h1,
.links h2 {
	color: #e0dbd1;
}

.links h2 {
	text-decoration: underline;
}

.links h2:hover {
	cursor: pointer;
	color: #fdf8ee;
}

.link {
	text-decoration: none;
}

img {
	width: 50px;
	height: 50px;
}

/* form__container, form, form__label, form__input, form__color */

.form__container {
	width: 400px;
	margin-left: 8%;
	padding: 50px;
	font-size: 1.6rem;
	line-height: 4rem;
	margin-top: 60px;
	margin-bottom: 60px;
	box-shadow: 6px 6px 10px rgba(27, 27, 27, 0.808), -6px -6px 10px rgba(255, 255, 255, 0.781);
	border-radius: 20px;
	background-color: rgb(49, 52, 58);
	color: #e0dbd1;
}

.form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.form__color__containter {
	display: flex;
	justify-content: space-evenly;
}

.form__color {
	margin-top: 20px;
	margin-left: 20px;
}

.form__button {
	font-size: 1.4rem;
	width: 80%;
	margin: 0 auto;
	border-radius: 50px;
	background-color: #a9a9a9;
	box-shadow: 6px 6px 10px rgb(255, 255, 255), -4px -4px 10px rgba(27, 27, 27, 0.808);
	padding: 10px;
}

.form__button:hover {
	cursor: pointer;
}

.head__container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.head__container h1 {
	margin-left: 10%;
	font-size: 4rem;
	/* color: rgba(19, 19, 19, 0.938); */
	color: #e0dbd1;
}

.form__input {
	line-height: 2rem;
}

.empty__list__header {
	margin-left: 8%;
	color: #e0dbd1;
}
